version: "3"

services:
  server:
    user: 1001:1001
    image: ticklemynausea/minecraft:latest
    build:
      context: server
      args:
        spigot_version: 1.20.1
    volumes:
      - ./home:/data
    ports:
      - "25565:25565"
      - "25575:25575"
      - "8123:8123"
  db:
    image: mariadb:latest
    environment:
      - MYSQL_ROOT_PASSWORD=t00t
    volumes:
      - dbdata:/var/lib/mysql
      - ./db/docker-entrypoint-initdb.d:/docker-entrypoint-initdb.d

volumes:
  dbdata:
